{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	 <script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="{% static 'styles/style.css' %}">
	<title>Mr Exam</title>
</head>
<body>

{% include 'sidebar.html' %}

<!-- Main Body -->
	<section id="content">
		{% include 'navbar.html' %}
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1 >MOCK TEST 1</h1>
				</div>
				<div class="left">
					<div class="table-data">
							<div class="head">
								<div class='order' id="timer-label" >
									<b>Time Remaining:</div></b>
								<div class='order' id="timer-display"></div>
							</div>
					</div>
				</div>
			</div>
			{% include 'main.html' %}
		</main>
	</section>
<!-- Main Body -->

	{% comment %} Quiz Timer {% endcomment %}
	<script>
		localStorage.removeItem("endTime");
        // Check if the end time is already stored in local storage
        if(localStorage.getItem("endTime")) {
          var endTime = localStorage.getItem("endTime");
        } else {
          // If not, set the end time for the timer
          var endTime = new Date().getTime() + (3*60*60*1000); // 5 minutes from now
          localStorage.setItem("endTime", endTime);
        }
      
        // Update the timer every second
        var x = setInterval(function() {
          // Get the current time
          var currentTime = new Date().getTime();
      
          // Find the distance between the current time and the end time
          var distance = endTime - currentTime;
      
          // Calculate the minutes and seconds
		  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
          // Display the timer in the page
          document.getElementById("timer-display").innerHTML = hours + 'h ' + minutes + "m " + seconds + "s ";
        
          // Display red if time is less than
          if (seconds < 10){
            document.getElementById("timer-display").classList.add("times-up");
          }
          // If the timer is finished
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer-display").innerHTML = "EXPIRED";
            document.getElementById("timer-display").classList.add("times-up");
            localStorage.removeItem("endTime");
          }
        }, 1000);
    </script>
     
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>