<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Question 1 : </h3>
        </div>
        <b><h1 class='order'>Choose the Correct Option</h1></b>
    <center>
        <form action="/submitanswer" method="get">
            <table>
                <tbody>
                    <tr>
                        <td>
                            a)<input type="radio" id="html" name="fav_language" value="HTML"  >
                              <label for="html">HTML</label><br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            b)<input type="radio"  id="css" name="fav_language" value="CSS">
                               <label for="css">CSS</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            c)<input type="radio" id="javascript" name="fav_language" value="JavaScript">
                            <label for="javascript">JavaScript</label>
                        </td>
            
                    </tr>
                    <tr>
                        <td>
                            d)<input type="radio" id="Jquery" name="fav_language" value="Jquery">
                            <label for="Jquery">Jquery</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="left">

            </div>
            <div class="left">
                <button class='mybutton' type="submit">Submit</button>
            </div>
        </form>
        </center>
        <div>
            <br>
        </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;
                      
                <a href="{{q}}">
            <button class='mybutton'>NextQuestion</button>
        </a>
    </div>
    {% comment %} option data {% endcomment %}
    <div class="my">
        <div class="head">
            <h3>Question Numbers </h3>
        </div>
        <table class=mytable>
            <tr>
                    <th></th>
                    <td><a href="/{{path}}/1"><button class='mybutton '>1</button></a></td>
                    <td><a href="/{{path}}/2"><button class='  mybutton '>2</button></a></td>
                    <td><a href="/{{path}}/3"><button class='  mybutton '>3</button></a></td>
                    <td><a href="/{{path}}/4"><button class='  mybutton '>4</button></a></td>
                    <td><a href="/{{path}}/5"><button class='  mybutton '>5</button></a></td>
            </tr>
                
            <tr>
                    <th><br></th>
                    <td><a href="/{{path}}/6"><button class='  mybutton'>6</button></a></td>
                    <td><a href="/{{path}}/7"><button class='  mybutton '>7</button></a></td>
                    <td><a href="/{{path}}/8"><button class='  mybutton '>8</button></a></td>
                    <td><a href="/{{path}}/9"><button class='  mybutton '>9</button></a></td>
                    <td><a href="/{{path}}/10"><button class='  mybutton '>10</button></a></td>
                
            </tr>
                
            <tr>
                    <th><br></th>
                    <td><a href="/{{path}}/11"><button class='  mybutton '>11</button></a></td>
                    <td><a href="/{{path}}/12"><button class='  mybutton '>12</button></a></td>
                    <td><a href="/{{path}}/13"><button class='  mybutton '>13</button></a></td>
                    <td><a href="/{{path}}/14"><button class='  mybutton '>14</button></a></td>
                    <td><a href="/{{path}}/15"><button class='  mybutton '>15</button></a></td>
                    
            </tr>

            <tr>
                    <th><br></th>
                    <td><a href="/{{path}}/16"><button class='  mybutton'>16</button></a></td>
                    <td><a href="/{{path}}/17"><button class='  mybutton '>17</button></a></td>
                    <td><a href="/{{path}}/18"><button class='  mybutton '>18</button></a></td>
                    <td><a href="/{{path}}/19"><button class='  mybutton '>19</button></a></td>
                    <td><a href="/{{path}}/20"><button class='  mybutton '>20</button></a></td>
            </tr>

            <tr>
                    <th><br></th>
                    <td><a href="/{{path}}/21"><button class=' mybutton '>21</button></a></td>&nbsp;
                    <td><a href="/{{path}}/22"><button class=' mybutton '>22</button></a></td>
                    <td><a href="/{{path}}/23"><button class=' mybutton '>23</button></a></td>
                    <td><a href="/{{path}}/24"><button class=' mybutton '>24</button></a></td>
                    <td><a href="/{{path}}/25"><button class=' mybutton '>25</button></a></td>
            </tr>			
        </table>	
    </div>
</div>