
 
<div class="table-data">
    {% for i in qe %}
    <div class="order">
        <div class="head">
            <h3>Question {{n}} : {{i.question}} </h3>
        </div>
        <b><h1 class='order'>Choose the Correct Option</h1></b>
    <center>

        <form action="/send/{{sub}}/{{n}}" method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" id="option1" name="choice" value="1" {% if ans == '1' %}checked="checked"{% endif %}>
                            <label for="option1">{{i.option1}} </label><br>
            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="option2" name="choice" value="2" {% if ans == '2' %}checked="checked"{% endif %}>
                            <label for="option2">{{i.option2}}</label><br> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="option3" name="choice" value="3" {% if ans == '3' %}checked="checked"{% endif %}>
                            <label for="option3">{{i.option3}}</label><br><br>
                        </td>
            
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="option4" name="choice" value="4" {% if ans == '4' %}checked="checked"{% endif %}>
            <label for="option4">{{i.option4}}</label><br><br>
                            {% comment %} d)<input type="radio" id="Jquery" name="fav_language" value="Jquery">
                            <label for="Jquery">Jquery</label> {% endcomment %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="left">

            </div>
            <div class="left">
                <button class='mybutton' type="submit">Save & Next Question</button>
            </div>
        </form>
        </center>
        <div>
            <br>
        </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;
                      
                
    </div>
    {% endfor %}
    {% comment %} option data {% endcomment %}
    <div class="my">
        <div class="head">
            <h3>Question Numbers </h3>
        </div>
        <table class=mytable>
            <tr>
                    <th></th>
                    <td><a href="/exam/{{path}}/1"><button class='mybutton '>1</button></a></td>
                    <td><a href="/exam/{{path}}/2"><button class='  mybutton '>2</button></a></td>
                    <td><a href="/exam/{{path}}/3"><button class='  mybutton '>3</button></a></td>
                    <td><a href="/exam/{{path}}/4"><button class='  mybutton '>4</button></a></td>
                    <td><a href="/exam/{{path}}/5"><button class='  mybutton '>5</button></a></td>
            </tr>
                
            <tr>
                    <th><br></th>
                    <td><a href="/exam/{{path}}/6"><button class='  mybutton'>6</button></a></td>
                    <td><a href="/exam/{{path}}/7"><button class='  mybutton '>7</button></a></td>
                    <td><a href="/exam/{{path}}/8"><button class='  mybutton '>8</button></a></td>
                    <td><a href="/exam/{{path}}/9"><button class='  mybutton '>9</button></a></td>
                    <td><a href="/exam/{{path}}/10"><button class='  mybutton '>10</button></a></td>
                
            </tr>
                
            <tr>
                    <th><br></th>
                    <td><a href="/exam/{{path}}/11"><button class='  mybutton '>11</button></a></td>
                    <td><a href="/exam/{{path}}/12"><button class='  mybutton '>12</button></a></td>
                    <td><a href="/exam/{{path}}/13"><button class='  mybutton '>13</button></a></td>
                    <td><a href="/exam/{{path}}/14"><button class='  mybutton '>14</button></a></td>
                    <td><a href="/exam/{{path}}/15"><button class='  mybutton '>15</button></a></td>
                    
            </tr>

            <tr>
                    <th><br></th>
                    <td><a href="/exam/{{path}}/16"><button class='  mybutton'>16</button></a></td>
                    <td><a href="/exam/{{path}}/17"><button class='  mybutton '>17</button></a></td>
                    <td><a href="/exam/{{path}}/18"><button class='  mybutton '>18</button></a></td>
                    <td><a href="/exam/{{path}}/19"><button class='  mybutton '>19</button></a></td>
                    <td><a href="/exam/{{path}}/20"><button class='  mybutton '>20</button></a></td>
            </tr>

            <tr>
                    <th><br></th>
                    <td><a href="/exam/{{path}}/21"><button class=' mybutton '>21</button></a></td>&nbsp;
                    <td><a href="/exam/{{path}}/22"><button class=' mybutton '>22</button></a></td>
                    <td><a href="/exam/{{path}}/23"><button class=' mybutton '>23</button></a></td>
                    <td><a href="/exam/{{path}}/24"><button class=' mybutton '>24</button></a></td>
                    <td><a href="/exam/{{path}}/25"><button class=' mybutton '>25</button></a></td>
            </tr>			
        </table>	
    </div>
</div>


<script>
    function doSomething(){
        // Your code here
     }
</script>