{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="https://cdn.tailwindcss.com"></script>
	<title>Mr Stat - Analytics</title>
</head>
<body>
	<!-- CONTENT -->
	<section id="content">
		{% include 'navbar.html' %}

		<!-- MAIN -->
		<main>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Upload File</h3>
				</div>
				
				<table>              
                  <form  method="post" enctype="multipart/form-data">
                  		<div class="flex items-center justify-center w-full">
                  			{% csrf_token %}     
				  		<b>
							<tr>
								<div>
									Questions : 
									<input type="file" id="myfile_Q" name="myfile_Q" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
								</div>
							</tr>
						</b>
				  		  
						</div> 
        		        <div>
                		    &nbsp;
                  		</div>
				
						Subjects:
					<ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        				<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
        					<div class="flex items-center pl-3">
            					<input id="horizontal-list-radio-id" type="radio" value="math" name="sub" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            					<label for="horizontal-list-radio-id" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Math</label>
        					</div>
    					</li>
   						<li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
        					<div class="flex items-center pl-3">
            					<input id="horizontal-list-radio-millitary" type="radio" value="phy" name="sub" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            					<label for="horizontal-list-radio-millitary" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Phy</label>
        					</div>
						</li>
    					<li class="w-full dark:border-gray-600">
        					<div class="flex items-center pl-3">
            					<input id="horizontal-list-radio-passport" type="radio" value="chem" name="sub" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            					<label for="horizontal-list-radio-passport" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Chem</label>
        					</div>
    					</li>
					</ul>              
					<div>
						<br>
					</div>
	                <button type="submit" class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                  </form>
				</table>
			</div>

			<div class="todo">
               	<div class="head">
					<!-- pass -->
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
   
   
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>